<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>IMWebConf 邀请函</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  </head>

<body style="color: #ffffff; line-height: 1.4; font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif; margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="600" height="1114" align="center" style="background-image: url(http://7tszky.com1.z0.glb.clouddn.com/Fqcd0AU5HWLcQV6EgpqFTbsJFPZp); background-repeat: no-repeat;" bgcolor="cc3333">
          <tr>
            <td valign="top">
              <table id="header" cellpadding="10" cellspacing="0" align="right">
                <tr>
                  <td>
                    <h1 style="color: #ffffff; line-height: 1.4; font-size: 16px; font-weight: normal; margin: 0; padding: 0;">第六届IMWebConf</h1>
                    <p style="color: #ffffff; line-height: 1.4; font-size: 16px; letter-spacing: 2px; margin: 0; padding: 0;">腾讯IMWeb团队</p>
                  </td>
                  <td width="8"></td>
                </tr>
              </table>
              <table id="picture" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="40"> </td>
                  <td>
                    <img src="http://7tszky.com1.z0.glb.clouddn.com/FgfQGpYY8jLfbduDPvAi_avJGmjP" width="464" height="384" style="display: block;" alt="2017 IMWebConf" />
                  </td>
                </tr>
              </table>
              <table id="title" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="95"> </td>
                  <td>
                    <h2 style="color: #ffffff; line-height: 1.4; font-size: 24px; font-weight: normal; margin: 0; padding: 0;"><strong style="font-weight: bold;">前端开发者大会</strong> . 攻城狮嘉年华</h2>
                    <p style="color: #ffffff; line-height: 1.4; font-size: 18px; margin: 0; padding: 0;">2017.09.16 / 深圳科兴国际会议中心</p>
                  </td>
                </tr>
              </table>
              <table id="content" cellpadding="0" cellspacing="10" width="430" align="center">
                <tr>
                  <td>
                    <p style="color: #ffffff; line-height: 1.4; font-size: 16px; margin: 0; padding: 0;">尊敬的嘉宾<strong style="font-weight: bold;color: yellow;"> <% name %> </strong>:</p>
                    <p style="color: #ffffff; line-height: 1.4; font-size: 16px; margin: 0; padding: 0;">诚挚邀请您<strong style="color: yellow;">免费</strong>参加<strong style="font-weight: bold;"> IMWebConf 2017 </strong>前端开发者大会，您能参会将是我们极大的荣幸。为了方便统计现场人数，收到邮件请回复是否参加，多谢。</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="color: #ffffff; line-height: 1.4; font-size: 16px; margin: 0; padding: 0;">另外，我们为您做了一个简单的H5页面，可以用手机打开<a href="http://m.2017.imweb.io/#<% nameEncode %>" target="_blank" style="color: yellow;"><b>链接</b></a>或者扫描二维码，如果您喜欢的话，分享到您的朋友圈或者其他平台，这将是对我们最大的支持，非常感谢！</p>
                    <p style="color: #ffffff; line-height: 1.4; font-size: 16px; margin: 0; padding: 0;">大会官网：<a href="http://2017.imweb.io/" target="_blank" style="color: yellow;">http://2017.imweb.io/</a></p>
                  </td>
                </tr>
              </table>
              <table cellpadding="0" cellspacing="0" width="410" align="center">
                <tr>
                  <td valign="bottom">
                    <a href="http://imweb.io/" target="_blank"><img src="http://7tszky.com1.z0.glb.clouddn.com/Fq2YxR2iyuHVq79zqSTzkpeFmo0T" width="79" height="47" alt="IMWeb团队" style="display: block;" /></a>
                  </td>
                  <td align="center" valign="bottom">
                    <a href="https://ke.qq.com/" target="_blank"><img src="http://7tszky.com1.z0.glb.clouddn.com/FtKt3ONafvUvgJK32Xsod9xgs52M" width="80" height="49" alt="腾讯课堂" style="display: block;" /></a>
                  </td>
                  <td align="right">
                    <img src="http://m.2017.imweb.io/images/qr/<% qrname %>" width="91" height="91" alt="二维码" style="display: block;" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
